/* Start Variables */
:root {
  --main-color: #28a7ea;
  --text-main-color: #101A24;
  --text-secondry-color: #101A24;
  --section-padding: 60px;
  --section-background: #eeeeee;
  --main-duration: 0.5s;
  --main-border: 1px solid rgba(16, 26, 36, 0.20);
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start component */
  .btn {
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500; 
    margin-left: 25px;
    text-wrap: nowrap;

}

 
.p-formate{
    color: #5C6574;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
     
}
/* end component */

/* start Header */
header{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
 
header nav{
  z-index: 1;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 15px;
}
header .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
 justify-content: space-between;
}
header .logo {
  z-index: 1;
  display: flex inline;
  align-items: center;
  padding-right: 20px;
}

header .logo img{
  width: 80px;
}
header .logo span{
  font-size: 25px;
  color: var(--main-color);
  width: 900;
  padding-left: 10px;
}

header nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
header nav .toggle-menu{
  color: white;
  font-size: 22px;
}



header nav ul{
  display: flex;
  padding-left: 0;
}


header nav ul li a{
   
  color: #FFF;
  text-align: center;
  font-size: 15px; 
  text-transform: uppercase;
  font-weight: 500; 
  margin-left: 25px;
  text-wrap: nowrap ;

}
header nav ul li:first-child{
  margin-left: 0;
}

/* header media */

@media (min-width:767px){
  header nav .toggle-menu{
    display: none;
  }
}


@media (max-width:767px){
  header .logo img{
    width: 50px;
  }

  header .logo span{
    font-size: 20px;
  }

  header nav {
    border-bottom: none;
  }

  header nav ul{
    display: none;
  }
  
  header nav .toggle-menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
   
  }

  header nav ul li {
    padding: 15px;
  }

  
}

/* End Header */

 /* start landing */
 .landing{
   position: relative;
  min-width: 100%;
  height: 100vh;
  background-image: url(../image/Landing.avif);
  background-color: #101A24;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
 }
.landing .overray{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50%);
}
 .landing .container {
  position: relative;
  display: flex;
  height: 100vh;
 }
 
.landing .intro{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  color: white;
}

.landing .intro h2{
  font-size: 50px;

  width: 500px;
  margin-bottom: 20px;
}

.landing .intro p{
  margin: 0 0 40px;
  line-height: 1.8;
  

}
.landing .intro .btn{
  margin: 0;
}
 
.landing .media i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-color);
  right: 20%;
  padding: 15px;
  background-color: white;
  border-radius: 50px;
  border: 3px solid #5C6574;
  outline: 5px solid ;

}

 @media (max-width:767px){
  .landing .intro{
    padding: 15px;
    width: 100%;
  }

  .landing .intro h2{
    font-size: 30px;
    width: 80%;
    
  }

  .landing .media {
    display: none;
  }

 }
  
 
 /* End landing */

 /* start services */
 .services{
  padding: 70px 0 ;
 }
  .services .boxs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
    
  }

  .services .boxs .card{
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  }

  .services .boxs .card i{
    font-size: 30px;
    color: var(--main-color);

  }

  .services .boxs .card h3{
    font-weight: 500;
  }
  .services .boxs .card p{
    font-size: 14px;
    line-height: 1.8;
    color: #5C6574;
  }

  .services .boxs .active{
    background-color: var(--main-color);
    color: #fff;
  }

  .services .boxs .active p{
    color: #fff;
  }

  .services .boxs .active .btn{
    background-color: #fff;
    color: var(--main-color);
    font-size: 14px;

  }

  .services .boxs .active .btn i{
    font-size: 14px;
  }



 /* end services */
